@page
@model LearningAboutTheIdentityClass.Pages.Employees.CreateModel
@{
    ViewData["Title"] = "Create New Employee";
}

<div class="alert alert-info alert-dismissible mt-2">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Create New Employee
</div>
<h2 class="text-info">
    Create
</h2>
<hr />
<form method="post">
    <div class="row form-group">
        <label asp-for="@Model.Employee.Name" class="col-form-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Employee.Name" placeholder="Name..." class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Employee.Name"></span>
        </div>
    </div>
    <div class="row form-group">
        <label asp-for="@Model.Employee.Email" class="col-form-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Employee.Email" placeholder="Email..." class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Employee.Email"></span>
        </div>
    </div>
    <div class="row form-group">
        <label asp-for="@Model.Employee.Salary" class="col-form-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Employee.Salary" placeholder="Salary..." class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Employee.Salary"></span>
        </div>
    </div>
    <div class="row form-group">
        <label asp-for="@Model.Employee.Department.DepartmentName" class="col-form-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Employee.Department.DepartmentName" placeholder="Department Name..." class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Employee.Department.DepartmentName"></span>
        </div>
    </div>
    <div class="row form-group">
        <label asp-for="@Model.Employee.Gender.Sex" class="col-form-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Employee.Gender.Sex" placeholder="Gender..." class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Employee.Gender.Sex"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10">
           <button class="btn btn-outline-success">Create</button>
            <a class="btn btn-outline-secondary" asp-page="/Employees/Index">Cancel</a>
        </div>
    </div>
</form>
