@page
@model LearningAboutTheIdentityClass.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "List Of Employees";
}
@if (!Model.Employee.Any())
{
    <div class="alert alert-info alert-dismissible mt-2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        No record has been inserted yet.
    </div>
    <div class="row">
        <div class="ml-auto">
            <a asp-page="Create" class="btn btn-outline-success">
                Create New Employee
            </a>
        </div>
    </div>
}
else
{
    <div class="row mt-2">
        <div class="ml-auto">
            <a asp-page="Create" class="btn btn-outline-success">
                Create New Employee
            </a>
        </div>
    </div>
    <h2 class="text-info">
        Employees
    </h2>
    <hr />
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employee)
                {
                <tr>
                    <td>
                        @employee.Id
                    </td>
                    <td>
                        @employee.Name
                    </td>
                    <td>
                        @employee.Email
                    </td>
                    <td>
                        @employee.Salary.ToString("c")
                    </td>
                    <td>
                        @employee.Gender.Sex
                    </td>
                    <td>
                        @employee.Department.DepartmentName
                    </td>
                    <td>
                        <a asp-page="/Employees/Details" asp-route-id="@employee.Id" class="btn btn-outline-primary mb-2">Details</a>
                        <a asp-page="/Employees/Edit" asp-route-id="@employee.Id" class="btn btn-outline-info mb-2">Edit</a>
                        <a asp-page="/Employees/Delete" asp-route-id="@employee.Id" class="btn btn-outline-danger mb-2">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}

